<section id="community-container">
	<div class="container-back">
		newspaper
	</div>
	<div class="container-back2">
		newspaper
	</div>
	<div class="container-back3">
		newspaper
	</div>
	<div id="community">
		<section id="recently-added">
			<h2>Recently Added Terms</h2>
			<div>
				<% if user_signed_in? %>
						<% @terms.each_with_index do |term,i| %>
							<article data-feed-name="<%= term.name %>" <% if i==0 %>class="active"<% end %>>
								<a href="#"><%= term.name %></a> <span class="label success">New</span>
							</article>
						<% end %>
				<% end %>
			</div>
		</section>
		<section id="most-popular-day">
			<h2>Most Popular Terms of the Day</h2>
			<div>
				<% if user_signed_in? %>
						<% @termCountToday.each_with_index do |term,i| %>
							<article data-feed-name="<%= term[0] %>" <% if i==0 %>class="active"<% end %>>
								<a href="#"><%= term[0] %></a>
								<% if term[1] > 10 %>
									<small>(<%= term[1] %>)</small> <span class="label warning">Popular</span>
								<% else %>
									<small>(<%= term[1] %>)</small>
								<% end %>
							</article>
						<% end %>
				<% end %>
			</div>
		</section>
		<section id="most-popular-all-time">
			<h2>Most Popular Terms of All Time</h2>
			<div>
				<% if user_signed_in? %>
						<% @termCountAll.each_with_index do |term,i| %>
							<article data-feed-name="<%= term[0] %>" <% if i==0 %>class="active"<% end %>>
								<a href="#"><%= term[0] %></a>
								<% if term[1] > 10 %>
									<small>(<%= term[1] %>)</small> <span class="label warning">Popular</span>
								<% else %>
									<small>(<%= term[1] %>)</small>
								<% end %>
							</article>
						<% end %>
				<% end %>
			</div>
		</section>
		<%= render 'terms/new'%>
	</div>
</section>