<!DOCTYPE html>
<html>
<head>
  <title>twitGeek | Because someone still has to care about us...</title>
	<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body <% if request.env['PATH_INFO'] == "/" %>class="feeds"<% end %>>
	<p class="alert-message success"><%= notice %></p>
	<p class="alert-message error"><%= alert %></p>	
	<section id="sticky-bar" class="topbar">
		<div class="topbar-inner">
			<h3><a id="logo" href="/">twitGeek</a></h3>
			<div id="user-nav">
		  	<% if user_signed_in? %>
		    	Signed in as <%= current_user.email %>. Not you?
		    	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %> | 
					<%= link_to "View Profile", edit_user_registration_path %>
		  	<% else %>
		    	<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
		  	<% end %>
			</div>
			<% if user_signed_in? %>
				<ul class="nav">
					<li><a href="/community">Community Feeds</a></li>	
					<li><a id="connect-twitter" href="#"><img src="/assets/icon_connect.png" /> <span>Connect</span></a></li>
				</ul>
			<% end %>
		</div>
	</section>
	<div id="container">
		<section id="content">
				<%= yield %>
				<% if !user_signed_in? && request.env['PATH_INFO'] != "/users/sign_in" && request.env['PATH_INFO'] != "/users/password/new" && request.env['PATH_INFO'] != "/users/password/edit" && request.env['PATH_INFO'] != "/users/password" && request.env['PATH_INFO'] != "/users" && request.env['PATH_INFO'] != "/users/sign_up" %>
				<div id="user-submission">
					<section class="page-header">
						<p>
							<strong>twitGeek is an online dashboard for twitter queries.</strong> If you've ever just wanted 1 place to view multiple feeds at the same time, you've found it.
							The aim is to make is easier for people (you) to follow the things you really do care about. twitGeek is 1 dashboard where you can store all of your search terms and if you close the browser in the process, don't worry - each feed gets saved automatically when you add it.
						</p>
						<p>
							twitGeek was proudly developed and is maintained by myself, Jamie Lawrence. I'm an ambitious Web Developer and my aim is to always be on the forefront of anything web.
							If you experience any issues whilst using the site, please feel free to email me at j@japhex.net, any feedback is more than welcome.
						</p>
						<p>
							If you have a twitter account, you can sign in and then re-tweet anything interesting you find whilst using twitGeek by using the Connect with twitter button below.
						</p>
					</section>
					<section id="login" class="user-form">
						<%= render 'devise/sessions/new' %>
					</section>
					<section id="register" class="user-form">
						<%= render 'devise/registrations/new' %>
					</section>
				</div>
			<% end %>
		</section>
	</div>
	<script src="http://platform.twitter.com/anywhere.js?id=HjX4ibzwrpwmXqKT5krADA&v=1"></script>
	<script src="http://platform.twitter.com/widgets.js"></script>	
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery.tweet.js" %>
</body>
</html>
