<!DOCTYPE html>
<html>
<head>
  <title>TwitGeekRails</title>
	<link href='http://fonts.googleapis.com/css?family=Leckerli+One|Alice|Bangers' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice user-info"><%= notice %></p>
	<p class="alert user-info"><%= alert %></p>	
	<section id="sticky-bar">
		<a id="logo" href="/">twitGeek</a>
		<div id="user-nav">
		  <% if user_signed_in? %>
		    Signed in as <%= current_user.email %>. Not you?
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> | 
				<%= link_to "View Profile", edit_user_registration_path %>
		  <% else %>
		    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
		  <% end %>
		</div>
		<% if user_signed_in? %>
			<ul id="navigation">
				<li><a href="/">My Feeds</a></li>
				<li><a href="/community">Community Feeds</a></li>	
			</ul>
		<% end %>
	</section>
	<div id="container">
		<section id="content">
			<%= yield %>
		</section>
	</div>
	  <%= javascript_include_tag "application" %>
	  <%= javascript_include_tag "jquery.tweet.js" %>
</body>
</html>
